name: Python Package using Conda

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
    - name: Install conda-build
      shell: bash -l {0}
      run: conda install conda-build setuptools_scm boa git
    - name: build package
      shell: bash -l {0}
      run: |
        export SETUPTOOLS_SCM_PRETEND_VERSION=$(python -m setuptools_scm)
        echo "Version: "
        echo $SETUPTOOLS_SCM_PRETEND_VERSION
        conda mambabuild $GITHUB_WORKSPACE --output-folder=$GITHUB_WORKSPACE
    - uses: actions/upload-artifact@v3
      with:
        name: package-${{ github.sha }}
        path: ${{ github.workspace }}/**/azint*.bz2

  build-win:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
    - name: Install conda-build
      shell: bash -l {0}
      run: conda install conda-build setuptools_scm boa git
    - name: build package
      shell: bash -l {0}
      run: |
        rm /usr/bin/link
        export SETUPTOOLS_SCM_PRETEND_VERSION=$(python -m setuptools_scm)
        echo "Version: "
        echo $SETUPTOOLS_SCM_PRETEND_VERSION
        conda mambabuild $GITHUB_WORKSPACE --output-folder=$GITHUB_WORKSPACE
    - uses: actions/upload-artifact@v3
      with:
        name: package-${{ github.sha }}
        path: ${{ github.workspace }}/**/azint*.bz2

  build-mac-arm:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [macos-14]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: ./
        id: setup-miniconda
        continue-on-error: true
        with:
          miniconda-version: latest
          miniforge-version: latest
    - name: Install conda-build
      shell: bash -l {0}
      run: conda install conda-build setuptools_scm boa git
    - name: build package
      shell: bash -l {0}
      run: |
        export SETUPTOOLS_SCM_PRETEND_VERSION=$(python -m setuptools_scm)
        echo "Version: "
        echo $SETUPTOOLS_SCM_PRETEND_VERSION
        conda mambabuild $GITHUB_WORKSPACE --output-folder=$GITHUB_WORKSPACE
    - uses: actions/upload-artifact@v3
      with:
        name: package-${{ github.sha }}
        path: ${{ github.workspace }}/**/azint*.bz2
     
